*{
    margin: 0;
}
.head{
    width: 1550px;
    height: 800px;
    top: 800px;
    background-image: url('banner1.png'); 

}
.head-title{
    color: black;
    text-align: right;
    width: 500px;
    height: 250px;
    margin-left: 900px;
    margin-top: 180px;
    position: absolute;
    font-size: 70px;
    font-weight: 800px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    direction: rtl;
}
.head-sub{
    text-align:right;
    position: absolute;
    width: 500px;
    height: 90px;
    margin-left: 900px;
    margin-top: 520px;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(57, 51, 51);
    direction: rtl;
}
.btn-head{
    margin-top: 650px;
    margin-left: 1250px;
    height: 60px;
    width: 150px;
    background-color: orange;
    border-radius:10px;
    font-size: 20px; 
    padding: 5px; 
    font-family: Arial, Helvetica, sans-serif; 
}

/* Header END */
.description{
    display: flex;
}
.description-img{
    height: 700px;
    width: 500px;
    position: absolute;
    margin-top: 0px;
    margin-left: 100px;
}
.description-p{
    height: 400px;
    width: 400px;
    margin-top:300px;
    margin-left: 900px;
}
.description-titile{
    height: 100px;
    width: 300px;
    font-size: 40px;
    font-weight: 900;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}
.description-subt{
    height: 100px;
    width: 400px;
    font-size: 17px;
    font-weight: 500;
}
.ul-t{
    text-decoration: none;
}
.ul-des{
    margin-top: 5px;
    color:rgb(100, 81, 81)
}
.fa-solid{
    color: green;
}
/* Failour */

.plan{
    height: 300px;
}
.a{
    display: flex;
    justify-content: center;
}
.s-title{
    text-align: center;
    font-size: 40px;
    margin-top: 60px;
    margin-bottom: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
}
/* Skill Start */
.skill-content{
    display: flex;
    gap: 5px;
}
.skill-title{
    font-size: 20px;
    font-style: normal;
}
.skill{
    justify-content: space-between;
    text-align: center;
    margin-right: 140px;
    margin-left:80px;
}
.skill-des{
    color: rgb(69, 60, 60);
    text-align: center;
}
/* New Image Add */
.another-img{
    background: linear-gradient(90deg, #cb7655 0%, rgba(149, 16, 104, 0) 100%),url('watch.png');
    border-radius: 8px;
    background-repeat: no-repeat;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 67%;
    margin-top: 50px;
    height:290px;
    width: 1000px;
}

.w-titile{
    color: white;
    margin-left: 40px;
    font-size:40px ;
    height: 60px;
    width: 480px;
    background-size:450px 1200px;
}
.call{
    border-radius: 5px;
    font-size: 30px;
    margin-top: 130px;
    margin-left: 40px;
    position: relative;
    display: inline-block;
    background-color: gold;
    box-shadow: 5px;
    padding: 5px;
    border: none;
    height: 80px;
    width: 150px;
    justify-content:left;
    background-color: white;
    color: orange;
}
/* Foter  start*/

.r{
    display:flex ;
    justify-content: space-between;
}
.footer-content{
   
    height: 290px;
    width: 1600;
    color: white;
    background-color: black;
}
.f-title{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 80px;
    margin-top: 80px;
    margin-left: 60px;
}
.f-des{
    color: white;
    height: 30px;
    width: 360px;
    margin-left: 60px;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 40px;
}
.email-tag{
    margin-left: 60px;
    text-decoration: none;
    color: white;
}
.icon-footer{
    margin-top: 20px;
    margin-left: 55px;
}
.f-icon{ 
    margin: 10px;
}
.phone{
   margin-left: 60px; 
   margin-top: 10px;
}
/* Form */

.form-title{
    text-align: right;
    margin-right: 280px;
    text-decoration: none;
    padding: 3px;
    color: black;
}
.f-btn{
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    color: darkorange;
    font-size: 20px;
    margin-top: 5px;
    height: 60px;
    width: 140px;
    margin-right: 152px;
    
}
.eml{
    background-color: black;
    color: white;
    padding: 15px;
    border: 1px solid white;
    border-radius: 10px;
    margin-bottom: 5px;
    text-align: left;
    padding: 5px;
    color: darkorange;
    font-size: 20px;
    margin-top: 5px;
    height: 60px;
    width: 280px;
}
.subs{
    font-size: 30px;
}

/* My Resume */
.sr-title{
    font-size: 59px;
    text-align: center;
    margin-top: 160px;
}
.r-con{
    border: 5px solid wheat;
    margin: 20px;
    padding: 10px;
    text-align: justify;
    display: flex;
}
.r-title{
    text-decoration: underline;
    font-size: larger;
    color: darkred;
    margin-top: 30px;
}
.iteam{
    margin-top: 5px;
    text-decoration: bold;
    color: darkblue;
}
.r-des{
    margin-right: 30px;
    margin-bottom: 10px;
}

.btn-r{
    text-align: center;
    margin:15px;
    color: darkorange;
    background-color: b
}